#root {
}

header.app-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;

  position: sticky;
  top: 0;
  background-color: white;
}

img.app-logo {
  height: 3em;
}

.events-overview {
  padding: 2em;
}
